/* #head,
#body,
#arm-left,
#arm-right,
#leg-left,
#leg-right{
display: none;
} */

/* #man {
  display: inline-block;
  transform-origin: top center;
}

.swing {
  animation: swing 0.5s ease;
}

@keyframes swing {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
  75% {transform: rotate(5deg);}
  100% {transform: rotate(0deg);}
} */


.hidden {
  visibility: hidden;
}
 
figure {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

svg.hangman {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#reset {
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 4px;
  width: 7em;
  height: 2em;
  font-size: 15px;
  background-color: rgb(81, 112, 247);

  transition: transform 0.2s, background-color 0.2s;
}
#reset:hover {
  transform: scale(1.1);
  background-color: rgb(150, 150, 250);
}

/* Mobilanpassning */
@media (max-width: 350px) {
  svg.hangman {
    max-width: 300px;
  }

  button {
    font-size: 14px;
    padding: 6px 10px;
  }
}