/* #head,
#body,
#arm-left,
#arm-right,
#leg-left,
#leg-right{
display: none;
} */

.hidden {
  visibility: hidden;
}
 

figure {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

svg.hangman {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* Mobilanpassning */
@media (max-width: 350px) {
  svg.hangman {
    max-width: 300px;
  }

  button {
    font-size: 14px;
    padding: 6px 10px;
  }
}