
  .hamburger {
	border: none;
	background: linear-gradient(135deg, #a8d8ff);
	cursor: pointer;
	margin: 1em;
  }

  #score-menu {
	position: fixed;
	top: 4em;
	left: 1em;
	padding: 1.2em;
	min-width: 14em;
	background: white;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .hidden {
	display: none;
  }

  /* #score-menu.hidden {
	opacity: 0;
	transform: translateY(-5px);
	pointer-events: none;
  } */

  .menu-row {
	display: flex;
	justify-content: space-between;
	margin: 0.6em 0;
	/* font-size: 16px; */
  }

  .score-display,
  .word-display {
	font-weight: bold;
	min-width: 3ch;
	text-align: right;
  }
