
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #a8d8ff, #dff1ff);
  min-height: 100vh;
}


#player-screen {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.player-box {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}


.player-box h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
}

p {
  margin-left: 5px;
}

.input-row {
  display: flex;
  gap: 12px;
}

#playerInput {
  flex: 1;
  padding: 12px 18px;
  border-radius: 999px;
  border: none;
  font-size: 16px;
  outline: none;
}


#startgame {
  padding: 12px 25px;
  border-radius: 999px;
  border: none;
  background: linear-gradient(135deg, #1e6cff, #3a8bff);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#startgame:hover {
  transform: translateY(-2px);
}

/* Responsiv */
@media (max-width: 350px) {
  .input-row {
    flex-direction: column;
  }

  #startgame {
    width: 100%;
  }
}