
.keyButton {
	padding: 0.4em;
	margin: 0.2em;
	font-size: 16px;
	border-radius: 6px;
  }

  .keyButton.correct {
	background-color: orange;
  }

  .keyButton.wrong {
	background-color: lightgray;
  }